@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.App {
  text-align: center;
}
.mainTitle{
  font-family: Geologica
}
div{
  font-family: Geologica;
}

.submitbutton {
  position: relative;
  /*display:block;*/
  height: 45px;
  width: 150px;
  margin: 10px 7px;
  padding: 5px 5px;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 2px;
  color: #383736;
  border: 2px #383736 solid;
  border-radius: 4px;
  text-transform: uppercase;
  outline: 0;
  overflow:hidden;
  background: none;
  z-index: 1;
  cursor: pointer;
  transition:         0.08s ease-in;
  -o-transition:      0.08s ease-in;
  -ms-transition:     0.08s ease-in;
  -moz-transition:    0.08s ease-in;
  -webkit-transition: 0.08s ease-in;
}

.submitbutton:hover {
  color: whitesmoke;
}

.submitbutton:before {
  content: "";
  position: absolute;
  background: #383736;
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%;
  z-index: -1;
  -webkit-transition: top 0.09s ease-in;
}

.submitbutton:hover:before {
  top: 0;
}

body{
  margin:0;
  background-color: azure;
}
select{
  border-radius: 15px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
input{
  border-radius: 15px;
  height: 20px;
}

.navmain{
  font-family: Pacifico, Arial;
  font-size: 40px;
  background-color: #282c34;
  padding: 30px;
  display: flex;
  justify-content: space-between;
}
.navleft{
  cursor: pointer;
  color: white;
}

.navright{
  font-family: Arial;
  font-size: medium;
  color:white
}

#loader {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rest-grid{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.rest{
  border-radius: 15%;
  transition: 0.5s;
  box-shadow: 0px 0px 5px black;
  position: relative;
  text-align: center;
}

.rest img{
  display: block;
  height: 265px;
  width: 265px;
  border-radius: 15%;
}

.restText{
  font-size: larger;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

